@import './variable.styl'

body, html
  line-height: 1
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
  -webkit-tap-highlight-color: transparent

.title
    font-size $font-size-title
    font-weight bold
    color $color-title
    margin 45px 0 21px
    padding 0 0 18px
    border-bottom 1px solid #ddd

.desc
    font-size $font-size-desc
    color $color-desc
    margin 18px 0
    line-height: 23px
    letter-spacing: 1px
    li
        list-style: disc
    .desc-ul
        margin-left 18px

.small-title
    font-weight: bold
    margin: 20px 0

.code
    line-height: normal
    font-size: 16px
    font-family:Arial,Helvetica,sans-serif;
.hightlight
    color: $color-highlight